<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title th:text="${current_operation}">Title</title>
</head>
<body>
<div class="container">
<p th:text="${current_operation}">Operation...</p>
<form method="post" th:object="${itemDto}" th:action="@{/item-save}">
    <input th:field="*{id}" type="hidden">

    <label for="itemNameId">Item Name:</label><br/>
    <input id="itemNameId" type="text" th:field="*{itemName}"><br/>

    <label for="descriptionId">Description:</label><br/>
    <input id="descriptionId" type="text" th:field="*{description}"><br/>

    <label for="categoryId">Category:</label><br/>
    <input id="categoryId" type="text" th:field="*{category}"><br/>

    <label for="priceId">Price:</label><br/>
    <input id="priceId" type="number" th:field="*{price}"><br/>

    <label for="quantityId">Quantity:</label><br/>
    <input id="quantityId" type="number" th:value="1" th:field="*{quantity}"><br/>

    <input type="submit" value="Submit">
</form>
</div>
</body>
</html>