<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>All items</h2>
    <table>
        <thead>
            <tr>
                <th>Item name</th>
                <th>Price</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.itemName}">Dummy name</td>
                <td th:text="${item.price}">4000.00</td>
                <td><a th:href="@{'/items/' + ${item.id}}" href="#">Link to item</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>