<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Display item</title>
</head>
<body>
    <p>Displaying item...</p>
    <p th:text="'Item id:' + ${itemsToShow.id}">Item id:</p>
    <p th:text="'Item name:' + ${itemsToShow.itemName}">Item name:</p>
    <p th:text="'Item description:' + ${itemsToShow.description}">Item description:</p>
    <p th:text="'Item category:' + ${itemsToShow.category}">Item category:</p>
    <p th:text="'Item price:' + ${itemsToShow.price}">Item price:</p>
    <p th:text="'Item quantity:' + ${itemsToShow.quantity}">Item quantity:</p>
    <p th:text="'Item picture:' + ${itemsToShow.picture}">Item picture:</p>
</body>
</html>
